<!DOCTYPE html>
<html>
<head>
  <title>ProactiveSupport</title>
  <%= stylesheet_link_tag    "proactive_support/application", media: "all" %>
  <%= javascript_include_tag "proactive_support/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
